@use "../../mixins" as *;
@use "../../presets" as *;

.navbar-toggle {
    display: none;
    &__stroke {
        fill: $color-light;
    }

    @include md {
        display: inline-block;
        margin-right: 2px;
        cursor: pointer;
        height: 100%;
    }
}

.header-navlist {
    @include unlist;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    height: 100%;
    font-size: 1.125rem;

    @include md-min {
        gap: $gap-x2;
    }

    @include md {
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        right: 0;
        bottom: 0;
        transform: translateY(calc(100%));
        margin-right: $gap;
        background-color: $color-gray-dark;
        height: 0;
        padding: 0 $gap;
        overflow: hidden;
        transition: height $transiton-speed * 2, padding $transiton-speed * 2;
        &__item {
            width: 100%;
            text-align: right;
        }
    }

    &__item {
        transition: color $transiton-speed;
        a {
            color: inherit;
        }
        &:hover {
            cursor: pointer;
            color: $color-accent;
        }
    }
}
.navbar-toggle__stroke {
    transition: transform $transiton-speed;
    transform-box: fill-box;
    transform-origin: center;
}
.active .navbar-toggle__stroke {
    &--1 {
        transform: rotate(45deg) translate(25%, 300%);
    }
    &--2 {
        transform: translateX(-110%);
    }
    &--3 {
        transform: rotate(-45deg) translate(25%, -300%);
    }
}

.active.header-navlist {
    @include md {
        height: 200px;
        padding: $gap;
    }
}
